.cv-form-category {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border: 0.2rem solid var(--primary-color);
  border-radius: 0.5rem;
}

.cv-form-category-items {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
