
.education-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.education-header {
    display: flex;
    gap: 1rem;
}

.education-degree {
    font-weight: 600;
}

.education-info {
    display: flex;
    flex-direction: column;
}