.education-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.education-header {
  display: grid;
  grid-template-columns: 18% 1fr;
}

.education-degree,
.education-period {
  font-weight: 600;
}

.education-info {
  display: flex;
  flex-direction: column;
}
