.personalinfo-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.personalinfo-header {
  display: flex;
  gap: 0.5rem;
  border-bottom: 0.1rem solid black;
}

.personalinfo-fullname {
  display: flex;
  gap: 0.5rem;
}

.personalinfo-contact {
  display: grid;
  grid-template-columns: 18% 1fr;
}

.personalinfo-label {
  font-weight: 600;
}
